.DS_Store
Shots.xcodeproj/project.xcworkspace/xcuserdata/
Shots.xcodeproj/xcuserdata/
Pods/
Shots.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings:
Shots.xcworkspace/
Shots.xcodeproj/project.xcworkspace/

